@keyframes heroBackgroundFloat {
  0%,
  100% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 44% 65%;
  }
  75% {
    background-position: 50% 75%;
  }
}

@keyframes float {
  0% {
    background-position: 100% 100%;
  }

  50% {
    background-position: 50% 80%;
  }

  100% {
    background-position: 70% 100%;
  }
}

.hero-float {
  animation: heroBackgroundFloat 20s ease-in-out infinite;
}

.float {
  animation: float 20s ease-in-out infinite;
}

.fast-setup-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/BGs/resseller/Fast Setup -BG.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.6;
}

.everything-you-need-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/BGs/resseller/everything-BG.png');
  background-position: center bottom 50px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  animation: float 20s ease-in-out infinite;
  opacity: 0.6;
}

.control-label-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/BGs/resseller/LabelControl-BG.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.6;
  animation: float 20s ease-in-out infinite;
}

.plans-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/BGs/resseller/reseller-BG-Hero.png');
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
  opacity: 0.6;
  animation: heroBackgroundFloat 20s ease-in-out infinite;
}

.FAQ-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/BGs/resseller/FAQ-BG.png');
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
  animation: float 20s ease-in-out infinite;
}

.real-time-insights-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url('/images/BGs/resseller/everything-BG.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}
