@keyframes heroBackgroundFloat {
  0%,
  100% {
    background-position: 50% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 44% 65%;
  }
  75% {
    background-position: 50% 75%;
  }
}

.hero-float {
  animation: heroBackgroundFloat 20s ease-in-out infinite;
}

.float {
  animation: heroBackgroundFloat 20s ease-in-out infinite;
}

/* Predefined background classes */

.bg-bleu-1 {
  /* background-image: url('/images/finalsAssets/resseler/BG1.png'); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
}

.bg-bleu-2 {
  /* background-image: url('/images/finalsAssets/resseler/BG2.png'); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

/* Add more predefined backgrounds as needed */
