.regionCardBg {
  background-image: url('https://res.cloudinary.com/dat6ipt7d/image/upload/v1754993530/Section_1_zn2ztr.png');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}
